<footer class="footer">
    <div class="container-fluid">
        <div class="copyright float-center">
            2021, hecho por
            <a href="https://www.linkedin.com/in/pablo-rius-blanco/" target="_blank" class="footerSP">Pablo Rius Blanco</a>.
        </div>
        <!-- your footer here -->
    </div>
</footer>